@import "../../global.scss";
.contact {
  background-image: url("../../images/bg2.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  font-family: $font;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .info {
    color: white;
    span {
      font-size: 30px;
      margin: 30px 0px;
    }
    h1 {
      font-weight: 500;
      font-size: 50px;
    }
   & > button {
      width: 50%;
      margin: 50px auto;
      padding: 0px 15px;
      position: relative;
      border-radius: 50px;
      border: 0;
      cursor: pointer;
      background-color: $main-color;
      border: 1px solid white;
      color: white;
      font-size: 18px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        z-index: 1;
        margin-right: 20px;
        margin-top: 8px;
        font-size: 40px;
      }
      span {
        z-index: 1;
      }
      strong {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 0;
        height: 300px;
        transition: all 0.3s;
      }
      &:hover {
        strong {
          width: 100%;
        }
      }
    }
  }
  @media all and (max-width: 820px) {
    .info {
      span {
        font-size: 20px;
      }
      h1 {
        font-size: 30px;
      }
    }
  }
}
